@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Itim');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  background: url("../img/christmas.jpg") no-repeat bottom fixed;
  background-size: cover;
}

.container-wrapper {
	width: 600px;
	margin: 0 auto;
}


.tekstas {
	padding-top: 70px;
	font-size: 40px;
	text-align: center;
	font-family: 'Great Vibes', cursive;
}


.sveikinimas{
	text-align: center;
	font-size: 30px;
	font-family: 'Great Vibes', cursive;
}

.favicon {
	text-align: center;
}

.favicon i{
	color: black;
}

.snaigute {
	font-size: 40px;
	padding-top: 40px;
	text-align: center;
	font-family: 'Great Vibes', cursive;
}


.tekstukas:before { 
	content: "\1F332";
	font-size: 50px;
}


.tekstukas {
	text-align: center;
}

.favicon2 {
	position: absolute;
	bottom: 0;
	right: 0;
}

.favicon2 i{
	color: black;
}


.futeris {
	font-size: 20px;
	padding-right: 5px;
	position: absolute;
	bottom: 0;
	left: : 0;
	font-family: 'Raleway', sans-serif;
}