@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Itim');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

body {
  margin: 0;
  background: url("../img/christmas.jpg") no-repeat bottom fixed;
  background-size: cover;
}

.container-wrapper {
	width: 600px;
	margin: 0 auto;
}


.words {
	padding-top: 70px;
	font-size: 40px;
	text-align: center;
	font-family: 'Great Vibes', cursive;
}

div.video iframe{
	display: block;
	margin: 0 auto;
}

.favsec {
	text-align: center;
	padding-top: 30px;
}

.favsec i{
	color: black;
}